.root {
}

.scrollyteller {
  background: #300 !important;
}

:global(.storyPanel) {
  &:before {
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.9) !important;
  }

  &:nth-child(2) {
    margin-top: 110vh !important;
  }

  &:last-of-type {
    margin-bottom: 100vh !important;
  }
}

.logo {
  img {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 100px;
    z-index: 1000;
    opacity: 0.4;
    transition: opacity 0.3s ease;
  }

  &:hover {
    img {
      opacity: 1;
    }
  }
}

@media only screen and (max-device-width: 667px) {
  .logo {
    display: none;
  }
}
