.root {
}

.scrollyteller {
  background: #300 !important;
}

:global(.storyPanel) {
  &:before {
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.9) !important;
  }

  &:nth-child(2) {
    margin-top: 110vh !important;
  }

  &:last-of-type {
    margin-bottom: 100vh !important;
  }
}
