:global(#abcHeader) {
  display: none;
}

:global(.Header.u-full) {
  display: none;
}

.factPanel {
  p {
    color: black !important;
  }

  &:before {
    background-color: rgba(255, 242, 0, 0.95) !important;
  }
}
