.wrapper {
  background: #f9f9f9;
  background-image: url('./paper-pattern.png');
  perspective: 12000px;
  transform: translateZ(0);
}

.page {
  background: #f9f9f9;
  background-image: url('./paper-pattern.png');
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 50%;
  transition: transform 0.5s ease-in-out;
  will-change: transform;

  .titlePage {
    background: rgba(184, 231, 202, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s ease-in-out;
  will-change: opacity;
}

.graphic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  pointer-events: none;

  img {
    position: absolute;
  }
}

.jiggle1 {
  animation-name: jiggle;
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.jiggle2 {
  animation-name: jiggle;
  animation-delay: 0.1s;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.jiggle3 {
  animation-name: jiggle;
  animation-delay: 0.1s;
  animation-duration: 0.35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jiggle {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(1%, 4%);
  }
  20% {
    transform: translate(-2%, -4%) scale(0.95, 1.05);
  }
  30% {
    transform: translate(-1%, 0%);
  }
  40% {
    transform: translate(2%, -2%);
  }
  50% {
    transform: translate(-2%, -4%) scale(1.05, 0.95);
  }
  60% {
    transform: translate(1%, 3%);
  }
  70% {
    transform: translate(-1%, -3%);
  }
  80% {
    transform: translate(3%, 2%);
  }
  90% {
    transform: translate(1%, -3%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.typing1 {
  animation-name: typing;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.typing2 {
  animation-name: typing;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes typing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.babyBunny1 {
  animation-name: squishy1;
  animation-duration: 4.123s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  transform: rotate(10deg);
}

@keyframes squishy1 {
  0% {
    transform: rotate(10deg);
  }
  2% {
    transform: rotate(12deg);
  }
  4% {
    transform: rotate(8deg);
  }
  6% {
    transform: rotate(12deg);
  }
  8% {
    transform: rotate(10deg);
  }
}

.babyBunny2 {
  animation-name: squishy2;
  animation-duration: 3.582s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  transform: rotate(-20deg) scale(-1, 1);
}

@keyframes squishy2 {
  0% {
    transform: rotate(-20deg) scale(-1, 1);
  }
  2% {
    transform: rotate(-22deg) scale(-1, 1);
  }
  4% {
    transform: rotate(-18deg) scale(-1, 1);
  }
  6% {
    transform: rotate(-22deg) scale(-1, 1);
  }
  8% {
    transform: rotate(-20deg) scale(-1, 1);
  }
}

.babyBunny3 {
  animation-name: squishy3;
  animation-duration: 5.582s;
  animation-iteration-count: infinite;
  animation-delay: 0.1s;
  transform: rotate(-22deg) scale(-1, 1);
}

@keyframes squishy3 {
  0% {
    transform: rotate(-22deg) scale(-1, 1);
  }
  2% {
    transform: rotate(-23deg) scale(-1, 1);
  }
  4% {
    transform: rotate(-21deg) scale(-1, 1);
  }
  6% {
    transform: rotate(-23deg) scale(-1, 1);
  }
  8% {
    transform: rotate(-22deg) scale(-1, 1);
  }
}

.monkey {
  animation-name: dance;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 140% 80%;
}

@keyframes dance {
  0% {
    transform: rotate(-1deg);
    transform-origin: 30% 80%;
  }
  50% {
    transform: rotate(1deg);
    transform-origin: 50% 80%;
  }
  100% {
    transform: rotate(-1deg);
    transform-origin: 30% 80%;
  }
}

.elephantBackground {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}

.elephant {
  transform-origin: 100% 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1000px;
  height: 1000px;
  transition: transform 0.3s ease-in-out;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
  }
}

.showElephant {
  background-color: rgba(255, 255, 255, 0.6);
}

.blinkingOpen {
  animation-name: blinkingOpen;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-timing-function: linear;
}

.blinkingClosed {
  animation-name: blinkingClosed;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-timing-function: linear;
}

@keyframes blinkingOpen {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinkingClosed {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }
  91% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.float1 {
  animation-name: float;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: -2s;
  animation-iteration-count: infinite;
}

.float2 {
  animation-name: float;
  animation-duration: 3.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
.float3 {
  animation-name: floatsmall;
  animation-duration: 4.2s;
  animation-timing-function: ease-in-out;
  animation-delay: -3.1s;
  animation-iteration-count: infinite;
}
.float4 {
  animation-name: float;
  animation-duration: 3.9s;
  animation-timing-function: ease-in-out;
  animation-delay: -1s;
  animation-iteration-count: infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-0.5%, 1.5%);
  }
  40% {
    transform: translate(1%, 0.5%);
  }
  60% {
    transform: translate(-1%, 0.5%);
  }
  80% {
    transform: translate(0.5%, 1.5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatsmall {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-1%, 3%);
  }
  40% {
    transform: translate(2%, 1%);
  }
  60% {
    transform: translate(-2%, 1%);
  }
  80% {
    transform: translate(1%, 3%);
  }
  100% {
    transform: translate(0, 0);
  }
}
